<div class="language-switcher" aria-label="<%= t('common.language') %>">
    <span class="language-switcher__label"><%= t('common.language') %></span>
    <div class="language-switcher__group" role="group" aria-label="<%= t('common.language') %>">
        <% languageOptions.forEach((option) => { %>
            <button
                type="button"
                class="language-switcher__button <%= option.code === lang ? 'is-active' : '' %>"
                data-lang-option="<%= option.code %>"
                aria-pressed="<%= option.code === lang ? 'true' : 'false' %>"
            >
                <%= option.label %>
            </button>
        <% }) %>
    </div>
</div>
